body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
    /* Chrome, Opera, Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

#root {
    width: 100%;
    height: 100vh;
    color: black;
    background-image: linear-gradient(180deg, #dcecff, #85bdfd);

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 3rem;
}

/* drum machine in app.js */

#drum-machine {
    border: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.control-drum,
.list-drum-pad {
    width: 50%;
}

/* list-drum-pad in listDrumPad */

.list-drum-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.drum-pad {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.drum-pad:focus-visible {
    outline: none;
}

.drum-pad:active {
    scale: 0.98;
    background-color: #FFF689;
}

.drum-pad.active {
    scale: 0.98;
    background-color: #FFF689;
}

/* ControlDrumMachine */
#display {
    background: #FBAF00;
    padding: 0.5rem 2rem;
    width: 70%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #666A86;
    ;
}


.control-drum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.volume {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}


#volume-control::-webkit-slider-thumb {
    cursor: pointer;
}

.volume-value {
    width: 40px;
    text-align: center;
}

/* footer */
footer {
    margin: 1rem 0 0;
}

footer a {
    text-decoration: none;
    margin: 0 5px 0;
    color: #000;
}

/* resopnsive */
@media screen and (max-width: 580px) {
    #drum-machine {
        flex-direction: column-reverse;
    }

    .control-drum,
    .list-drum-pad {
        width: 100%;
    }
}